.task {
  color: var(--purple-700);
}

.task input {
  appearance: none;
  width: 20.85px;
  height: 20px;
  border: 1px solid var(--purple-100);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: all 200ms;
}

.task input:checked {
  position: relative;
  background: var(--gradient);
  border: 0;
}

.task input:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 8px;
  translate: -50% -60%;
  rotate: 45deg;
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

.task input:hover {
  border-color:  var(--purple-500);
}

.task label {
  cursor: pointer;
}

.task p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
  /* font-size: .98rem; */
  letter-spacing: -.5px;
}

.task p::first-letter { text-transform: capitalize; }

.task.completed p {
  text-decoration: line-through;
  color: var(--gray-300);
}

.controls {
  display: none !important;
  margin-left: auto;
}

.controls button {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.btn-edit {
  color: var(--blue-500);
}

.btn-edit:disabled {
  color: var(--gray-300);;
}

.btn-remove {
  color: var(--purple-600);
}

.task.completed .btn-remove {
  color: var(--blue-500);
}

.task:hover {
  label {
    width: calc(100% - (38px + 20px)) !important;
  }

  .controls {
    display: flex !important;
  }
}

/*======= DARK THEME =======*/

.task.dark {
  background-color: var(--navy-900);
  color: var(--purple-300);
  border-color: var(--purple-800) !important;
}

.task.dark.completed p,
.btn-edit:disabled {
  color: var(--purple-600);
}

.task.dark input {
  border-color: var(--purple-700);
}

.task.dark:not(.completed) .btn-remove {
  color: var(--gray-600);
}


